{{> head }}
<body>
    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Proyecto con NodeJS</h1>
        </div>

        <div class="col-4">
            <img src="../assets/img/batman.jpg" class="img-thumbnail">
        </div>
    </div>

  {{> footer }}